.arrowTop{
    width: 0;
    height: 0;
    border-left: 12.5vw solid transparent;
    border-right: 12.5vw solid transparent;
    border-bottom:7.21vw solid red;
}
.content{
    width: 25vw;
    height: 14.4337567298vw;
    background-color: red;

}
.arrowBottom{
    width: 0;
    height: 0;
    border-left: 12.5vw solid transparent;
    border-right: 12.5vw solid transparent;
    border-top:7.2168783649vw solid red;
}
.list3{
    padding:0 37.5vw
}
.container{
    margin-top: 1rem;
    p{
        color:#fff;
        font-size: 0.28rem;
        margin-top: 0.1rem;
    }
}
.footer{
    height: 1rem;
    background: #222b2a;

}
.footer>div{
    width: 33.3333vw;
    color: #fff;
}
.kduo{
    height: 100vh;
}
.icon{
    color: #fff;
    width: 0.5rem;
    height: 0.5rem;
}